<div class="container-fluid">

    <app-search-user (searchEmitter)='getSearchedUser($event)'></app-search-user>
    <div class="row">
        <div class="col-md-4">
            <div *ngFor='let detail of user'>
                <h1>{{detail.login}}</h1>
                <a href="#">
                    <img src="{{detail.avatar_url}}" alt="">
                </a>
                <p>{{detail.following}}</p>
                <p>{{detail.followers}}</p>
            </div>
        </div>


        <!-- <div *ngFor='let repo of myRepo'>
        <p>{{repo.name}}</p>
        <p>{{repo.description}}</p>
        <p>{{repo.updated_at}}</p>
        <p>{{repo.updated_at}}</p>
    </div> -->

        <div class="col-md-6">
            <div class="card-repo">
                <div *ngFor='let repo of myRepo'>
                    <div class="card text-center">
                        <div class="card-header">
                            Popular repositories
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{repo.name}}</h5>
                            <p class="card-text">{{repo.description}}</p>
                            <a href="#" class="btn btn-primary">{{repo.language}}</a>
                        </div>
                        <div class="card-footer text-muted">
                            {{repo.updated_at}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>