<div class="container-fluid">

    <app-repo></app-repo>
    <app-search-user (searchEmitter)='getSearchedUser($event)'></app-search-user>
    <div class="row">

        <div class="col-md-4">
            <div *ngFor='let detail of user'>
                <div class="card">
                    <a href="#">
                        <img src="{{detail.avatar_url}}" alt="" class="img-circle person">
                    </a>
                    <div class="cardp">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{detail.name}}</h5>
                            <p class="card-text">{{detail.login}}</p>
                            <p class="card-text"><i class="fa fa-address-book" aria-hidden="true" *ngIf='detail.bio'></i> {{detail.bio}}</p>
                            <hr>
                            <button class="btn btn-secondary"> Follow </button>
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="card-text"><i class="fa fa-user-plus" aria-hidden="true"></i> {{detail.followers}} <small>FOLLOWERS</small>
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <p class="card-text">{{detail.following}} <small>FOLLOWING</small> </p>
                                </div>
                                <div class="col-md-4">
                                    <p class="card-text">{{detail.stargazers_count}} <i class="fa fa-star" aria-hidden="true"></i>
                                    </p>
                                </div>

                            </div>
                            <hr>
                            <p class="card-text"><i class="fa fa-building" aria-hidden="true" *ngIf='detail.company'></i> {{detail.company}}</p>
                            <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true" *ngIf='detail.location'></i> {{detail.location}}</p>
                            <p class="card-text"><i class="fa fa-twitter" aria-hidden="true" *ngIf='detail.twitter_username'></i> {{detail.twitter_username}}</p>
                            <p class="card-text"><i class="fa fa-calendar" aria-hidden="true"></i> Joined on: {{detail.created_at|date}}</p>
                            <br>
                            <a href="{{detail.html_url}}" target="_blank" class="btn btn-outline-warning"><small>GITHUB</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-4">
                <div *ngFor='let detail of user '>
                    <h1>{{detail.login}}</h1>
                    <a href="#">
                        <img src="{{detail.avatar_url}}" alt="">
                    </a>
                    <p>{{detail.following}}</p>
                    <p>{{detail.followers}}</p>
                </div>
            </div> -->


        <!-- <div *ngFor='let repo of myRepo '>
        <p>{{repo.name}}</p>
        <p>{{repo.description}}</p>
        <p>{{repo.updated_at}}</p>
        <p>{{repo.updated_at}}</p>
    </div> -->

        <div class="col-md-6">
            <h1>REPOSITORIES.</h1>
            <hr>
            <div class="card-repo">
                <div *ngFor='let repo of myRepo '>
                    <div class="card text-center" appHighlight>
                        <div class="card-header">
                            <a href="{{repo.html_url}}">
                                <h5 class="card-title">{{repo.name}}</h5>
                            </a>
                        </div>
                        <div class="card-body">

                            <p class="card-text">{{repo.description}}</p>

                            <p class="card-text">{{repo.language}}</p>


                            <p class="card-text">CREATED: {{repo.created_at|dateAgo}}</p>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="#" class="btn btn-outline-secondary"><i class="fa fa-eye" aria-hidden="true"></i> {{repo.watchers}}</a>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-outline-secondary"><i class="fa fa-code-fork" aria-hidden="true"></i> {{repo.forks_count}}</button>
                                </div>
                                <div class="col-md-6">
                                    <a href="{{repo.html_url}}"> <button class="btn btn-outline-secondary">CLICK TO VIEW</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>